@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

td, th {
    padding-right: 50px;
    padding-top: 10px;
}

td {
    border-bottom: 1px solid grey;
}

th > p {
    text-align: left;
}


.ciq-caption {
    font-weight: 400;
    font-size: 12px;
    opacity: .87;
}

/* Raised */

button.raised-button {
    border: none;
    font-size: 13px;
    color: #fff;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    height: 32px;
}


button.raised-button-disabled {
    border: none;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    font-size: small;
    cursor: not-allowed;
    font-size: 13px;
    height: 32px;
}

.blue-bg.raised-button-disabled {
    background-color: rgba(0, 125, 184, .7);
    color: rgba(255, 255, 255, .3);
}

button.raised-button:focus {
    outline: none;
}

button.raised-button::before {
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    box-shadow: 0 0 0 10em rgba(255, 255, 255, 0);
    content: " ";
    left: 0;
    padding: 1em;
    margin: -1em;
    position: absolute;
    top: 0;
    transition-property: background, box-shadow;
}

button.raised-button:active::before {
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 0em rgba(255, 255, 255, .5);
    transition-duration: 0s;
}

.blue-bg.raised-button {
    background: #007DB8;
}

.blue-bg.raised-button:hover {
    background: #16609E;
    cursor: pointer;
}

.gray-bg.raised-button {
    color: rgba(0, 0, 0, .7);
    background: #EEEEEE;
}

.gray-bg.raised-button-disabled {
    color: rgba(0, 0, 0, .3);
    background: #EEEEEE;
}

.gray-bg.raised-button:hover {
    background: #DDDDDD;
    cursor: pointer;
}

/*.ciq-button {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px 8px;
    border: none;
    color: rgba(0, 0, 0, .54);
    letter-spacing: .1em;
}

.ciq-button.action {
    background-color: #2c95dd;
    color: #fff;
}
*/
/*.ciq-flatbutton-wht {
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
}*/

.hover {
	display: none;
}

.disabled {
	cursor: not-allowed;
    opacity: 0.3;
}


/* Flat */

button.flat-button {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .5px;
    background: none;
    border: none;
}


button.flat-button:focus {
    outline: none;
}

button.gray-txtbtn {
    color: #555555;
}


button.gray-txtbtn-disabled {
    color: rgba(85, 85, 85, .3);
    cursor: not-allowed;
}

button.gray-txtbtn:hover {
    color: #333333;
    cursor: pointer;
}

button.blue-txtbtn {
    color: #007DB8;
}

button.blue-txtbtn-disabled {
    color: rgba(0, 125, 184, .3);
    cursor: not-allowed;
}

button.blue-txtbtn:hover {
    color: #16609E;
    cursor: pointer;
}




/*dropdown buttons*/

.dropdown-default {
    background-color: #007DB8;
    color: rgba(255, 255, 255, 0.7);
    padding: 16px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .5px;
    border: none;
    cursor: pointer;
}


.arrow {
    width: 10px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #6BACDE;
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    font: 13px;
}

.downarrow, .uparrow {
    margin-left: 8px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 4px 0px rgba(33, 33, 33,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #CCE5F1;
    text-decoration: none;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.fa-slideshare {
    margin-right: 8px;
}

.nav-bar {
    height: 32px;
    background: #007DB8;
    width: 100%;
}


.two-buttons {
    display: inline;
}

.dropdown {
    margin-right: -4px;
}


